.title .editicon{
    opacity: 0;
    transition: all 0.5s;
    cursor: pointer;
}
.title:hover .editicon{
    opacity: 1;
}
.title .form-control{
    height: 60px;
    font-weight: bold;
    font-size: 25px;
}